<center><h1>Add a new employee</h1></center>
<%= form_with model: @employees do |info| %>
  <div class="employee_container">
    <div class="employee_details employee_name">
      <%= info.label :first_name %><br>
      <%= info.text_field :first_name %>
    </div>
  
    <div class="employee_details employee_last_name">
      <%= info.label :last_name %><br>
      <%= info.text_field :last_name %>
    </div>
    <div class="employee_details employee_email">
      <%= info.label :email_address %><br>
      <%= info.text_field :email_address %>
    </div>
    <div class="employee_details employee_designation">
      <%= info.label :designation %><br>
      <%= info.text_field :designation %>
    </div>

    <div class="employee_details dropdown employee_departments">
      <%= info.label :Department_name %><br>
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-Select-</button>
      <input type="hidden" value="" id = "departmentName" name="dept_id">
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% @departments.each do |p| %>
            <a class="dropdown-item department-menu-item" data-id="<%= p.id%>"><%= p.dept_name %></a>
          <% end %>
        </div>
    </div>
    <div class="employee_details cancel-btn">
      <input type="button" value="Cancel" onclick='window.location.href="/employees"' class='btn-light'/>
    </div>
    <div class="employee_details employee_create_btn">
      <%= info.submit "Create Employee" , :class => "btn-dark"%>
    </div>
  </div>
<% end %>

<%= javascript_include_tag "employee_view" %>